.App {
    display: flex;
  }
  
  #map {
    width: 70%;
  }
  
  .sidebar {
    width: 30%;
    padding: 10px;
    overflow-y: scroll;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .add-code-form {
    position: fixed;
    top: 20%;
    left: 35%;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 1000;
  }
  
  .add-code-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .add-code-form button {
    margin-right: 10px;
  }
  